{
  "extends": "standard",
   "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
  "rules": {
    "semi":1,
    "no-debugger":0
  },
  "env":{
    "es6": false,
    "mocha": true,
    "node": true,
    "browser": true
  }
}
