{
  "extends": "standard",
   "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi":1,
    "no-debugger":0,
    "no-multiple-empty-lines":"warn"
  },
  "env":{
    "es6": true,
    "mocha": true,
    "node": true,
    "browser": true
  }
}
